.button{
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

#btn1{
    background-color: pink;
}

#btn2{
    background-color: blue;
}

#btn3{
    background-color: orange;
}

#btn4{
    background-color: purple;
}

//hk 