*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    width: 90;
    max-width: 470px;
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    color: #fff;
    margin: 100px, auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.Search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.Search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search .button{
    border: 0;
    border-radius: 100px;
}